<h1 style="text-align: center; color:rgb(194, 54, 54)">Eat-Da-Burger</h1> 
{{!-- <img src="../public/assets/burger.png"/> --}}

<h2>Burgers to eat!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you ate!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form" style="justify-content: center;">

  <div class="form-group" style="justify-content: center;">
    <label for="ca"><strong>Burger Name:</strong></label>
    <input type="text" id="ca" name="name">
    <button type="submit">Add Burger</button>
  </div>

</form>