body {
  background-color: rgb(241, 197, 50);
}


li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    max-width: max-content;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  